[submodule "lib/oauth-objc"]
	path = lib/oauth-objc
	url = git@github.com:scrumers/oauth-objc.git
[submodule "lib/fbconnect-objc"]
	path = lib/fbconnect-objc
	url = git@github.com:scrumers/fbconnect-objc.git
[submodule "lib/touchjson-objc"]
	path = lib/touchjson-objc
	url = git@github.com:scrumers/touchjson-objc.git
